<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
    
    {{!-- <link rel="stylesheet" href="./assets/css/styles.css"> --}}
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Orbitron&display=swap" rel="stylesheet">
    <title>New York Times Scraper</title>
</head>

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center hide-on-med-and-down">New York Times Scraper</a>
            <a class="nav-links" href="/">Home</a> | <a class="nav-links" href="/saved">Saved</a>
            <ul class="right">
                <a class="waves-effect waves-light btn" href="/scrape">Scrape</a>
         
            </ul>
        </div>
    </nav>
</div>

<body>
    {{{body}}}
</body>

<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      
    </div>
    <div class="modal-footer">
      
    </div>
</div>

<script src="app.js"></script>

</html>